.main {
  min-height     : 100vh;
  background     : linear-gradient(19deg, #1400ff, #06123b);
  display        : flex;
  justify-content: center;
  align-items    : center;
  padding        : 3rem;
  overflow       : hidden;
}

.resumeLink {
  background-color: black;
  font-size       : 15px;
  padding         : 10px;
  position        : absolute;
  bottom          : 0;
  left            : 0;
  opacity         : .4;
  cursor          : pointer;
  transition      : all .3s ease-in-out;
  visibility      : visible;
  backdrop-filter : blur(5px);
  border-radius   : 100px;
  border-radius   : 0 0 0 1rem;
}

.resumeLink:hover {
  border: 1px solid rgba(255, 255, 255, 0.582);
}

.disabled {
  opacity   : 0;
  visibility: hidden;
  transition: all .3s ease-in-out;

}

.cardsContainer {
  /* grid-auto-rows       : 115%; */
  /* list-style                    : none; */
  display                       : grid;
  /* min-width                  : 50%; */
  /* grid-template-columns      :  repeat(2, 1.2fr) ; */
  /* column-gap                 : 20px;
  row-gap                       : 20px; */
  grid-gap                      : 1rem;
  grid-template-columns         : 2fr 2fr 2fr;
  grid-template-rows            : repeat(2, 1fr);
  /* padding                    : 0; */
  /* padding                    : 2rem; */
  padding                       : 0;
}

.card {
  display             : grid;
  place-items         : center;
  align-items         : center;
  /* width            : 100%; */
  height              : 256px;
  border-radius       : 20px;
}

.card:hover {
  outline: 4px solid rebeccapurple;
}

.profilePicture {
  object-fit: contain;
}

.card1 {
  grid-column: 1/2;
  grid-row   : 1/2;
  position   : relative;

  /* overflow   : hidden; */
  width      : 256px;
  user-select: none;
}

.rotater {
  /* width                                : 356px; */
  width                                : 256px;
  height                               : 256px;
  /* position                          : fixed; */
  position                             : absolute;
  /* z-index                           : -11; */

  animation       : 1.3s rotate .6s forwards ease-in-out;
  /* background   : red; */
  border-radius   : 20px;
}

@keyframes rotate {
  0% {
    background-color: #0328fc;
    rotate          : 0deg;
  }

  50% {
    background-color: var(--primary-bg);
    rotate          : 320deg;
  }

  90% {
    background-color: var(--primary-bg);
    rotate          : 360deg;
    opacity         : 1;
  }

  100% {
    background-color: var(--primary-bg);
    rotate          : 360deg;
    opacity         : 0;
  }
}

.about,
.myworks {
  background-color: var(--primary-bg);
}

.about {
  display       : flex;
  flex-direction: column;
  grid-column   : 2/4;
  width         : 534px;
  background    : repeating-linear-gradient(45deg, #000, transparent 100px);
  color         : hsla(0, 0%, 100%, .945);
  overflow      : hidden;
}

.about .container {
  overflow: auto;
}

.about .info {
  margin-top: 0;
  background: #7070706b;
  padding   : 0.5rem;
}

.about .footer>p {
  padding  : 0;
  margin   : 10px;
  font-size: 20px;
}

.about .footer a:hover {
  text-decoration: underline;
}

.myworks {
  grid-column   : 1/3;
  grid-row      : 2/2;
  /* overflow   : hidden; */
  /* overflow-y : scroll; */
  overflow-x    : hidden;

}

.myworks h2 {
  margin: 0;
}

.myworks>ul {
  height    : 150px;
  display   : flex;
  max-width : 495px;
  overflow-x: scroll;
  overflow-y: hidden;
  list-style: none;
  gap       : 14px;
  font-size : 18px;
  margin    : 0;
  padding   : 0;
  overflow  : hidden;
}

.myworks>ul:hover li:not(:hover) {
  opacity            : .5;
  filter             : grayscale(1);
  filter             : blur(5px);
    /* mix-blend-mode: multiply; */

}

.myworks li {
  width           : 200px;
  height          : 100%;
  background-color: rgba(255, 255, 255, 0.357);
  padding         : 1rem 0.5rem;
  display         : flex;
  flex-direction  : column;
  flex-wrap       : wrap;
  flex            : 1 1;
  align-items     : center;
  justify-content : center;
  border-radius   : 10px;
  cursor          : pointer;
  text-align      : center;
  transition      : all .3s ease-in-out;
}

@media only screen and (max-width: 600px) {
  .main {
    justify-content: initial;
  }

  .card1 {
    margin   : 0 auto;
    /* width : 280px; */
  }

  .cardsContainer {
    display: initial;

  }

  .about {
    width      : initial;
    /* overflow: auto; */
  }

  .myworks {
    overflow: auto;
  }

  .myworks>ul {
    flex-direction: column;
    padding-bottom: 10px;
    overflow      : initial;
  }

  .myworks li {
    gap: 1rem;
  }
}


.myworks li>* {
  display: flex;
  flex   : 1;
}

/* .myworks li:hover {
  opacity: .7;
} */

.myworks p {
  margin: 0;
}

.myworks img {
  object-fit: contain;
}

.myworks li:hover a {
  text-decoration: underline;
  cursor         : pointer;
}

.info a {
  text-decoration: underline;
  cursor         : pointer;
}

.myworks .profilePicture {
  max-width: 100%;
}

.card4 {

  /* outline: 2px solid red; */
  grid-column       : 3/4;
  grid-row          : 2/2;
  /* transform-style: preserve-3d;
transform           : translateZ(-100px); */

  min-width         : 120px;
  min-height        : 120px;
  position          : relative;
  transform-style   : preserve-3d;
  transform         : translateZ(-100px);
  /* box-shadow     : 2px 2px 20px rgba(27, 27, 27, 0.966); */
  grid-gap          : unset;
  /* transform-style: preserve-3d;
transform           : rotateY(360deg) rotateY(360deg); */
  /* transform      : translateZ(50px); */

  animation: spin 5s infinite ease-in-out;
}

.card4:hover {
  /* animation         : spin 15s infinite ease-in-out; */
  /* transition-delay: 1; */
  /* animation-duration: 5s; */
  /* animation: spin 6s; */
  /* transition-duration: 1s; */

}

.main:hover,
.card4 {
  /* animation-play-state: running; */
}

/* .myworks:hover , .card4 {
  animation-play-state: paused;
} */

.animate {
  /* transform: rotateY(349deg) rotateX(315deg); */
  /* animation: spin 5s infinite ease-in-out; */
}

@keyframes spin {
  0% {
    transform: translateZ(-100px) rotateX(0deg) rotateY(0deg);
  }

  27% {
    transform: translateZ(-100px) rotateX(90deg);
  }

  45% {
    transform: translateZ(-100px) rotateX(180deg);
  }

  65% {
    transform   : translateZ(-100px) rotateX(-90deg);
    /* transform:  translateZ(-100px) rotateX(-180deg); */
  }

  85% {
    transform   : translateZ(-100px) rotateY(-90deg);
    /* transform: translateZ(-100px) rotateY(-90deg); */
    /* transform: translateZ(-100px) rotateX(360deg) rotateY(360deg); */
  }

  100% {
    transform   : translateZ(-100px) rotateY(-360deg);
    /* transform: translateZ(-100px) rotateY(-90deg); */
    /* transform: translateZ(-100px) rotateY(-90deg); */
    /* transform: translateZ(-100px) rotateX(360deg) rotateY(360deg); */
  }
}

.d4_face {
  position             : absolute;
  /* width             : 100%;
height                 : 100%; */
  /* width             : 200px;
height                 : 200px; */
  text-align           : center;
  display              : flex;
  justify-content      : center;
  align-items          : center;
  border-radius        : 18px;
  grid-gap             : unset;
  padding              : 1.2rem;
  /* padding           : 3rem; */
  user-select          : none;
  transition           : all .2s ease-in-out;
}

/* .d4_face:hover{

  scale:1.2;
  transition: all .4s ease-in-out;
} */

.d4_front {
  background-color: var(--primary-bg);
  color           : white;
  opacity         : 1;
  transform       : rotateY(0deg) translateZ(100px);

}

.cardPadding {
  padding  : 3rem;
  font-size: 1.2rem;
}

.d4_back {
  background-color: #0328fc;
  color           : white;
  opacity         : 1;
  transform       : rotateY(90deg) translateZ(100px);
}

.d4_right {
  background-color: #03fc94;
  background-color: #0ecf7f;
  color           : white;
  opacity         : 1;
  transform       : rotateZ(180deg) rotateY(180deg) translateZ(100px);
}

.d4_left {
  background-color: #ec8b0c;
  color           : white;
  opacity         : 1;
  transform       : rotateZ(360deg) rotateX(-90deg) translateZ(100px);
}

.d4_top {
  background-color: #0f92b9;
  color           : white;
  opacity         : 1;
  transform       : rotateX(90deg) translateZ(100px);
}

.d4_bottom {
  background-color: #7703fc;
  color           : white;
  opacity         : 1;
  transform       : translateX(-100px) rotateY(90deg);
}